/* Reset browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default font */
body{
    font-family: 'Roboto', sans-serif;
}

/* Rule to remove styles from all links */
a {
    text-decoration: none;
}

/* Header styles */

.navbar--mod {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
	top: 0px;
    margin: 0 0;
    padding: 0 30px;
}

.navbar__home--logo {
    height: 60px;
}

.navbar__home--title {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}


/* End Header styles */

/* Footer styles */

.footer__socialNetworks {
    margin: 5px;
    display: grid;
}

.footer__socialNetworks div p {
    margin: 0;
}

.footer__linkSocialNetworks {
    display: block;
    padding: 2px;
}

.footer__linkSocialNetworks a {
    text-decoration: none;
    color: white;
    height: 70px;
}

.footer__linkSocialNetworks p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1ex;
}

.footer__linkSocialNetworks img {
    vertical-align: middle;
}

.footer__address {
    margin: 5px;
    display: grid;
}

.footer__address a {
    color: white;
}

/* End Footer styles */

/* General Styles*/

.squareButton {
    padding: 0.8em 1.8em;
    border: 2px solid #C4C4C4;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #C4C4C4;
    margin-top: 10px;
}

.squareButton::before {
    content: '';
    width: 0;
    height: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #C4C4C4;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.squareButton:hover::before {
    width: 150%;
}

.squareButton:hover {
    color: #272727;
}

.col-center{
    float: none;
    margin: 0 auto;
}

.topPage {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}

/* End General Styles*/

/* Home styles */

.topPage--home {
    background-image: url("../assets/images/eolic-windmill.jpg");
}

.contents {
    background-color: white;
    padding: 40px;
}


.contents__title {
    font-size: 60px;
}

.contents__p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
}

.contents__img {
    height: 400px;
    cursor: pointer;
}

.homeSection-2 {
    padding: 0 50px;

    display: grid;
    grid-template-areas: "text img";
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    margin-bottom: 50px;
}

.homeSection-3 {
    padding: 0 50px;

    display: grid;
    grid-template-areas: "img text";
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    margin-bottom: 50px;
}

.contents--2 {
    grid-area: text;
}

.contents__img--2 {
    grid-area: img;
}

.contents--3 {
    grid-area: text;
}

.contents__img--3 {
    grid-area: img;
}

/* End Home styles */

/* Services styles*/

.topPage--services {
    background-image: url("../assets/images/Our_Services_CREZ_Oncor_Tonkawa-Sweetwater_East.jpg");
}

.services__images{
    cursor: pointer;
    overflow: hidden;
}

.services__images img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.services__images img:hover {
    transform: scale(1.3);
}

/* End services styles*/

/* Projects styles */

.topPage--projects {
    background-image: url("../assets/images/high-voltage-tower-2.jpg");
}

.projSection-2 {
    padding: 0 80px;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.projSection-2__text {
    padding: 0 80px;

    display: grid;
    align-content: space-around;
}

/* End Projects styles */

/* About Styles */

.topPage--about {
    background-image: url("../assets/images/photo-city.jfif");
}

.titleAbout {
    text-align: center;
    margin: 40px;
    font-size: 40px;
}

.aboutSection-2 {
    padding: 0 80px;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.aboutSection-2__container {
    padding: 50px;
}

.aboutSection-2__title {
    font-size: 25px;
}

.aboutSection-2__list {
    list-style-type: square;
}

/* End About styles */

/* Contact Us Styles */

#titleContact {
    text-align: center;
    margin: 5px;
}

#titleContact h1 {
    font-size: 40px;
}

#titleContact p {
    font-size: 20px;
    margin: 5px;
}

.squareButton--dark {
    /*Modifiers*/
    border: 2px solid #272727;
    color: #272727;
}

.squareButton--dark:hover {
    /*Modifiers*/
    color: white;
}

.squareButton--dark::before {
    /*Modifiers*/
    background: #272727;
}

/* End Contact Us Styles */

/* Medias Queries */

/* Extra large devices (large laptops and desktops, 1200px and and down) */

/* End Extra large devices (large laptops and desktops, 1200px and and down) */

/* Large devices (laptops/desktops, 992px and down) */

@media (max-width: 992px) {
    .contents__title{
        font-size: 35px;
    }

    .contents__p{
        font-size: 12px;
    }

    .contents__img {
        height: 270px;
        cursor: pointer;
    }
}

/* End Large devices (laptops/desktops, 992px and down) */

/* Medium devices (landscape tablets, 768px and down) */

@media (max-width: 768px) {

    .navbar__home--logo {
        height: 40px;
    }

    .navbar__home--title {
        font-size: 16px;
    }

    .navbar-toggler-icon--mod {
        width: 25px;
        height: 25px;
    }

    .contents__title{
        font-size: 30px;
    }

    .contents__p{
        font-size: 10px;
    }

    .contents__img {
        height: 230px;
        cursor: pointer;
    }
}

/* End Medium devices (landscape tablets, 768px and down) */

/* Small devices (portrait tablets and large phones, 600px and down) */

@media (max-width: 600px) {
    .contents__title{
        font-size: 35px;
    }

    .contents__p{
        font-size: 12px;
    }

    .contents__img {
        height: auto;
        width: 100vw;
        cursor: pointer;
    }

    .topPage {
        grid-template-columns: 1fr;
        margin-bottom: 10px;
        background-attachment:fixed;
    }

    .homeSection-2 {
        grid-template-columns: 1fr;
        grid-template-areas: "text" "img";
        margin-bottom: 10px;
        padding: 0;
    }

    .homeSection-3 {
        grid-template-columns: 1fr;
        grid-template-areas: "text" "img";
        margin-bottom: 10px;
        padding: 0;
    }

    .footer__socialNetworks {
        margin: 10px;
    }

    .footer__containerSocialNetworks {
        display: flex;
    }

    .footer__linkSocialNetworks {
        padding: 5px;
    }

    .footer__linkSocialNetworks a p{
        display: none;
    }

    .footer__address {
        margin: 10px;
    }

}

/* End Small devices (portrait tablets and large phones, 600px and down) */

/* Extra small devices (phones, 480px and down) */

@media (max-width: 480px) {
    .navbar--mod {
        padding: 0;
    }
}

/* End Extra small devices (phones, 480px and down) */

/* End Medias Queries */