@import "./variables";
@import "./global";
@import "./header";
@import "./footer";

/* Home styles */

.topPage--home {
    background-image: url("../assets/images/eolic-windmill.jpg");
}

.contents {
    background-color: white;
    padding: 40px;
}


.contents__title {
    font-size: 60px;
}

.contents__p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
}

.contents__img {
    height: 400px;
    cursor: pointer;
}

.homeSection-2 {
    padding: 0 50px;

    display: grid;
    grid-template-areas: "text img";
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    margin-bottom: 50px;
}

.homeSection-3 {
    padding: 0 50px;

    display: grid;
    grid-template-areas: "img text";
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    margin-bottom: 50px;
}

.contents--2 {
    grid-area: text;
}

.contents__img--2 {
    grid-area: img;
}

.contents--3 {
    grid-area: text;
}

.contents__img--3 {
    grid-area: img;
}

/* End Home styles */

/* Services styles*/

.topPage--services {
    background-image: url("../assets/images/Our_Services_CREZ_Oncor_Tonkawa-Sweetwater_East.jpg");
}

.services__images{
    cursor: pointer;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        transition: transform 0.5s;
    }
    
    img:hover {
        transform: scale(1.3);
    }
}

/* End services styles*/

/* Projects styles */

.topPage--projects {
    background-image: url("../assets/images/high-voltage-tower-2.jpg");
}

.projSection-2 {
    padding: 0 80px;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.projSection-2__text {
    padding: 0 80px;

    display: grid;
    align-content: space-around;
}

/* End Projects styles */

/* About Styles */

.topPage--about {
    background-image: url("../assets/images/photo-city.jfif");
}

.titleAbout {
    text-align: center;
    margin: 40px;
    font-size: 40px;
}

.aboutSection-2 {
    padding: 0 80px;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.aboutSection-2__container {
    padding: 50px;
}

.aboutSection-2__title {
    font-size: 25px;
}

.aboutSection-2__list {
    list-style-type: square;
}

/* End About styles */

/* Contact Us Styles */

#titleContact {
    text-align: center;
    margin: 5px;

    h1 {
        font-size: 40px;
    }
    
    p {
        font-size: 20px;
        margin: 5px;
    }
}

.squareButton--dark {
    @extend .squareButton;

    /*Modifiers*/
    border: 2px solid #272727;
    color: #272727;
    
    &:hover {
        /*Modifiers*/
        color: white;
    }
    
    &::before {
        /*Modifiers*/
        background: #272727;
    }
}

/* End Contact Us Styles */

/* Medias Queries */

/* Extra large devices (large laptops and desktops, 1200px and and down) */

/* End Extra large devices (large laptops and desktops, 1200px and and down) */

/* Large devices (laptops/desktops, 992px and down) */

@media (max-width: 992px) {
    .contents__title{
        font-size: 35px;
    }

    .contents__p{
        font-size: 12px;
    }

    .contents__img {
        height: 270px;
        cursor: pointer;
    }
}

/* End Large devices (laptops/desktops, 992px and down) */

/* Medium devices (landscape tablets, 768px and down) */

@media (max-width: 768px) {

    .navbar__home--logo {
        height: 40px;
    }

    .navbar__home--title {
        font-size: 16px;
    }

    .navbar-toggler-icon--mod {
        width: 25px;
        height: 25px;
    }

    .contents__title{
        font-size: 30px;
    }

    .contents__p{
        font-size: 10px;
    }

    .contents__img {
        height: 230px;
        cursor: pointer;
    }
}

/* End Medium devices (landscape tablets, 768px and down) */

/* Small devices (portrait tablets and large phones, 600px and down) */

@media (max-width: 600px) {
    .contents__title{
        font-size: 35px;
    }

    .contents__p{
        font-size: 12px;
    }

    .contents__img {
        height: auto;
        width: 100vw;
        cursor: pointer;
    }

    .topPage {
        grid-template-columns: 1fr;
        margin-bottom: 10px;
        background-attachment:fixed;
    }

    .homeSection-2 {
        grid-template-columns: 1fr;
        grid-template-areas: "text" "img";
        margin-bottom: 10px;
        padding: 0;
    }

    .homeSection-3 {
        grid-template-columns: 1fr;
        grid-template-areas: "text" "img";
        margin-bottom: 10px;
        padding: 0;
    }

}

/* End Small devices (portrait tablets and large phones, 600px and down) */

/* Extra small devices (phones, 480px and down) */

@media (max-width: 480px) {
    .navbar--mod {
        padding: 0;
    }
}

/* End Extra small devices (phones, 480px and down) */

/* End Medias Queries */